h2.android,
h2.ios,
h2.wp {
  background: no-repeat 0 50%;
  background-size: 1em;
  padding-left: 1em;
}

h2.android {
  background-image: url('../images/android.svg');
}

h2.ios {
  background-image: url('../images/ios.svg');
}

h2.wp {
  background-image: url('../images/wp.svg');
}

ul.users {
  padding: 0;
}

li.user {
  list-style: none;
}

li.user:nth-of-type(odd) {
  background-color: #DDDDDD;
}

li.user span.user {
  background: no-repeat 0 50%;
  background-size: 2em;
}

li.user.ios span.user {
  background-image: url('../images/ios.svg');
}

li.user.android span.user {
  background-image: url('../images/android.svg');
}

li.user.wp span.user {
  background-image: url('../images/wp.svg');
}

li.user span.token {
  color: #666666;
  word-break: break-all;
}

ul.users {
  display: table;
}

ul.users li.user {
  display: table-row;
}

ul.users li.user span.user,
ul.users li.user span.token,
ul.users li.user span.delete {
  display: table-cell;
  vertical-align: middle;
}

ul.users li.user span.user {
  padding: 0 10px 0 2.2em;
}

ul.users li.user span.token {
  padding: 0 10px;
}

ul.users li.user span.delete {
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
