<h2>Recipient(s):</h2>
<label class="col-md-4 control-label" for="users">Users:</label>
<select id="users" multiple="multiple" ng-model="ctrl.users">
  <option value="">All</option>
  <option ng-repeat="user in ctrl.allUsers.users" value="{{user}}">{{user}}</option>
</select>

<div class="row push">
  <div class="col-md-4">
    <h2 class="android">Android</h2>

    <form class="form-horizontal">
      <device-field device="ctrl.android"
                    model="ctrl.android.fields.data.title"
                    label="Title">
      </device-field>
      <device-field device="ctrl.android"
                    model="ctrl.android.fields.data.message"
                    label="Message">
      </device-field>
      <device-field device="ctrl.android"
                    model="ctrl.android.fields.data.sound"
                    label="Sound">
      </device-field>
      <device-field device="ctrl.android"
                    model="ctrl.android.fields.collapseKey"
                    label="Collapse key">
      </device-field>
      <div class="form-group">
        <label class="col-md-4 control-label" for="androidPayload">Payload:</label>

        <div class="col-md-12">
          <textarea id="androidPayload"
                    class="form-control"
                    ng-model="ctrl.android.payload"
                    rows="10">
          </textarea>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-4">
    <h2 class="ios">iOS</h2>

    <form class="form-horizontal">
      <device-field device="ctrl.ios"
                    model="ctrl.ios.fields.badge"
                    label="Badge"
                    type="number">
      </device-field>
      <device-field device="ctrl.ios"
                    model="ctrl.ios.fields.alert"
                    label="Alert">
      </device-field>
      <device-field device="ctrl.ios"
                    model="ctrl.ios.fields.sound"
                    label="Sound">
      </device-field>
      <div class="form-group">
        <label class="col-md-4 control-label" for="iosPayload">Payload:</label>

        <div class="col-md-12">
          <textarea id="iosPayload"
                    class="form-control"
                    ng-model="ctrl.ios.payload"
                    rows="10"
                    cols="30">
          </textarea>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-4">
    <h2 class="wp">Windows Phone</h2>

    <form class="form-horizontal">
      <device-field device="ctrl.wp"
                    model="ctrl.wp.fields.bold"
                    label="Bold">
      </device-field>
      <device-field device="ctrl.wp"
                    model="ctrl.wp.fields.normal"
                    label="Normal">
      </device-field>
      <div class="form-group">
        <label class="col-md-4 control-label" for="wpPayload">Payload:</label>

        <div class="col-md-12">
          <textarea id="wpPayload"
                    class="form-control"
                    ng-model="ctrl.wp.payload"
                    rows="10"
                    cols="30">
          </textarea>
        </div>
      </div>
    </form>
  </div>
  <button class="btn btn-danger col-md-12"
          ng-click="ctrl.push()"
          ng-disabled="!ctrl.android.jsonOK || !ctrl.ios.jsonOK || !ctrl.wp.jsonOK">
    Send!
  </button>
</div>
